<div class="box">
  <h1 class="text-primary">About Me</h1>
  <p> Hi, I’m Afsal, a full stack web developer based in Banglore, India. My inherent obsession for learning led me to
    the path of web development, eventually embarking on a never-ending quest to learn everything in the realm of the
    web. I'm an avid reader, a cinephile, a chess enthusiast, and above all, someone, who wants to make the world a
    better place.</p>
</div>
<style>
  .box {
    width: 50%;
    height: auto;
    padding: 1rem 2rem;
    border: 10px solid;
    background: #fff;
    border-image: radial-gradient(rgba(28, 206, 234, 0.82) 0%,
      rgba(147, 26, 222, 0.83) 100%) 1;
    margin: 0 auto;
  }

  .box h1 {
    color: #e14eca;
    margin: 1rem;
  }

  .box p {
    color: #171941;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 30px;
    text-align: left;
  }

  @media (max-width : 56.25em) {
    .box {
      width: 70%;
    }
  }

  @media (max-width:37.25em) {
    .box {
      width: 80%;
    }

    .box p {
      font-size: 1.4rem;
    }
  }

  @media (max-width : 28em) {
    .box {
      width: 90%;
    }

  }
</style>