<div class="btn__container">
  <a href="#" target="_blank" class="btn__download" download>Download CV <img src="./assets/img/download.svg"
      class="icon__download" alt=""></a>
</div>


<style>
  .btn__container {
    color: #E14ECA;
    font-size: 2.4rem;
  }

  .btn__download {
    display: inline-block;
    background: rgba(0, 0, 0, 0.4);
    padding: 1.5rem 3rem;
    border: 2px solid #E14ECA;
    color: #E14ECA;

  }

  .icon__download {
    width: 30px;
    padding-left: 5px;
    vertical-align: middle;
  }
</style>
<script>
  document.querySelector('.btn__download').addEventListener('click', function (e) {
    console.log(this);
    this.parentNode.removeChild(this);
    document.querySelector('.btn__container').textContent = 'Thank you for showing interest in my resume.'
  })
</script>